body {
  font-family: Roboto, Helvetica;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 15% 75px 15%;
  background-color: #1f2937;
  margin: 0;
  align-items: center;
}
.header h1 {
  font-size: 24px;
  color: #f9faf8;
  flex: none;
}
.header-links {
  display: flex;
  gap: 20px;
  flex: none;
}
.header a,
.hero-left p {
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  color: #e5e7eb;
}
.hero {
  display: flex;
  background: #1f2937;
  height: 450px;
  justify-content: space-between;
  padding: 0 15%;
  flex-wrap: wrap;
}
.hero-right {
  width: 50%;
  max-width: 650px;
  min-width: 300px;
  text-align: center;
  align-items: center;
}
.hero-right img {
  width: 100%;
  max-width: 650px;
  min-width: 300px;
}
.hero-left h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
  min-width: 250px;
  max-width: 500px;
  margin-bottom: 0;
}
.hero-left p {
  margin: 5 0;
}
.hero-left {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 200px;
}
.hero-left button {
  width: 100px;
  line-height: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #3882f6;
  color: white;
}

.information {
  padding-bottom: 100px;
  margin: 0;
}
.panels {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
.info-text {
  margin: 35px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}
.panel img {
  line-height: 150px;
  min-width: 150px;
  border: 3px solid #3882f6;
  color: white;
  border-radius: 15px;
}
.panel p {
  text-align: center;
  color: #1f2937;
  font-size: 16px;
  width: 150px;
  font-weight: 100;
}
.quote {
  height: 400px;
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
.quote p {
  font-size: 100%;
  color: #1f2937;
  font-weight: 100;
  font-style: italic;
  min-width: 350px;
  max-width: 830px;
  height: fit-content;
}
.last {
  display: flex;
  padding: 40px 7.5%;
  justify-content: space-between;
  margin: 100px 15%;
  background-color: #3882f6;
  align-items: center;
  border-radius: 10px;
  flex-wrap: wrap;
}
.last h1 {
  margin-bottom: 0;
  color: white;
  font-size: 36px;
}
.last p {
  margin-top: 10px;
  color: white;
  font-size: 18px;
}
.last button {
  padding: 10px 45px;
  background: transparent;
  border: 2px solid white;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 7px;
}
.bot {
  padding: 30px;
  text-align: center;
  justify-content: center;
  background: #1f2937;
  color: white;
}
